{% extends "base.html" %} {% block title %} My Bookings {% endblock %} 

{% block body %}
<div class="container" style="margin-top: 7rem; height: 100vh">
  <div class="row gap-1">
    <!-- RIGHT SIDE: Bookings Section -->
    <div class="col-md-12">
      <section>
        <h2 class="mb-4">My Bookings</h2>

        {% if booking %}
        <table class="table table-striped">
          <thead class="table-dark">
            <tr>
              <th>Hotel</th>
              <th>Room Type</th>
              <th>Room</th>
              <th>Check-in</th>
              <th>Check-out</th>
              <th>Guests</th>
              <th>Total Price</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for b in booking %}
            <tr>
              <td>{{ b.hotel.name }}</td>
              <td>{{ b.room_type.name }}</td>
              <td>{{ b.room.room_number }}</td>
              <td>{{ b.check_in }}</td>
              <td>{{ b.check_out }}</td>
              <td>{{ b.guests }}</td>
              <td>{{ b.total_price|floatformat:0 }} ks</td>
              <td>
                {% if b.status == "pending" %}
                <span class="badge bg-warning text-dark">Pending</span>
                {% elif b.status == "confirmed" %}
                <span class="badge bg-success">Confirmed</span>
                {% else %}
                <span class="badge bg-danger">Cancelled</span>
                {% endif %}
              </td>
              <td>
                {% if b.payment_status == "unpaid" %}
                <a href="/payment/{{ b.id }}/" class="btn btn-sm btn-primary"
                  >Pay Now</a
                >
                {% else %}
                <span class="text-success">Paid</span>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>You have no bookings yet.</p>
        {% endif %}
      </section>
    </div>
    <!-- LEFT SIDE: Payment Section -->
  </div>
</div>

{% endblock %}

<!-- v5V3djCDTjDzt8qR -->
